.item {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 5px 20px;
  background: #231f20;
  color: #f8f6ee;
  border: 1px solid #f8f6ee;

  > span:first-child {
    color: #8c8783;
    font-size: 43px;
    font-family: 'Cormorant SC',serif !important;
    font-weight: 400;
  }
  > span {
    font-size: 17px;
    line-height: 1.55;
    font-weight: 600;
  }
}

.item:hover{
  color: #231f20;
  background: #f8f6ee;
  transition: .5s;
}
