.sm-carousel {
  margin: 150px 0 40px 0;

  .sm-carousel-caption {
    font-size: 46px;
    font-family: 'Cormorant SC', serif !important;
    font-weight: 400;
    text-align: center;
  }

  .sm-imgs {
    margin: 60px 40px;
    display: flex;


  }

}